html {
  height: 100%;
  font-family: sans-serif;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.simulation-container {
  display: flex;
  background-color: lightgray;
  width: 100%;
  height: 100%;
}

.graph-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.controls-container {
  width: 300px;
  min-width: 300px;
  height: 100%;
  overflow: auto;
  border-left: 2px solid gray;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  padding: 15px;
  color: #333;
}

.screen-container {
  flex-grow: 1;
  flex-direction: column;
  line-height: 0;
}

.screen-sub-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.canvasContainer {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #000000;
  z-index: 0;

}

.statistics {
  bottom: 14px;
  left: 10px;
  position: absolute;
  color: gray;
  font-size: 14px;
  line-height: 1;
  z-index: 1;
}

.screen {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.cpsCounter {
  display: inline-block;
  width: 80px;
  padding-left: 10px;
}
.fpsCounter {
  display: inline-block;
  width: 80px;
  padding-left: 10px;
}
.antsCounter {
  display: inline-block;
  width: 100px;
  padding-left: 10px;
}
.cyclesCounter {
  display: inline-block;
  padding-left: 10px;
}

.controls {
  padding: 20px;
  background-color: lightgray;
}

.controls>div {
  padding: 10px;
  border-bottom: 2px solid gray;
}

.playback {
  display: flex;
}

.reset-buttons {
  width: 100px;
}

.playback-buttons {
  flex-grow: 1;
  text-align: right;
  width: 16px;
  height: 16px;
}

.playback>div>button {
  padding: 16px 16px;
  line-height: 0;
  border: 2px solid #333;
}

.playback>div>button>img {
  filter: invert(20%);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #7a5d06;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #222;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.sliders>div {
  margin-bottom: 14px;
}

.controller-title {
  font-size: 14px;
}
.controls_break {
  width: 100%;
  height: 20px;
}



.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  float: right;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-checkbox {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9b9b9b;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-checkbox:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-checkbox {
  background-color: #7a5d06;
}

input:focus + .slider-checkbox {
  box-shadow: 0 0 1px #7a5d06;
}

input:checked + .slider-checkbox:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider-checkbox.round {
  border-radius: 34px;
}

.slider-checkbox.round:before {
  border-radius: 50%;
}
